/* Home.css */
.home-container {
  font-family: "Gupter", serif;
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  list-style-type: none;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.posts-section .grid > div {
  transition: transform 0.3s;
}

.posts-section .grid > div:hover {
  transform: translateY(-10px);
}

.about-section, .contact-section {
  border: 1px solid #ccc;
}

.flex {
  display: flex;
}

.space-x-4 > :not(:first-child) {
  margin-left: 1rem;
}

.social-links {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.social-icon {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  vertical-align: middle;
}

/* Tons de rosa */
.bg-pink-600 {
  background-color: #d63384; 
}

.bg-pink-300 {
  background-color: #f78fb3; 
}

.bg-pink-200 {
  background-color: #f8a5c2; 
}

.bg-pink-100 {
  background-color: #f3a683; 
}

.bg-pink-50 {
  background-color: #ffe1e6; 
}

.text-white {
  color: #fff;
}
